html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer;
}

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto;
}

select::ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Zilla_Slab";
  src: url("../font/Zilla_Slab/ZillaSlab-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Zilla_Slab";
  src: url("../font/Zilla_Slab/ZillaSlab-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Zilla_Slab";
  src: url("../font/Zilla_Slab/ZillaSlab-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --main-font: "Lato", sans-serif;
  --second-font: "Zilla_Slab", sans-serif;
  --violet: #A811E9;
  --yellow: #FEE035;
  --grey-bg: #F6F7F7;
  --black-light: #012429;
  --birusa: #11CFE9;
}

html, body {
  min-height: 100%;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  color: #000;
  font-family: var(--main-font);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

a {
  color: currentColor;
  -webkit-transition: all .2s;
  transition: all .2s;
}

h1, .h1 {
  font-size: 6.4rem;
}

h2, .h2 {
  font-size: 4.8rem;
}

h3, .h3 {
  font-size: 2.4rem;
}

h4, .h4 {
  font-size: 2rem;
}

.font-300 {
  font-weight: 300;
}

.font-500 {
  font-weight: 500;
}

.font-700,
b, strong {
  font-weight: 700;
}

.font-900 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.wrapper {
  height: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.violet {
  color: var(--violet);
}

.yellow {
  color: var(--yellow);
}

.grey-bg {
  background-color: var(--grey-bg);
}

.black-light {
  color: var(--black-light);
}

.birusa {
  color: var(--birusa);
}

.second-font {
  font-family: var(--second-font);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1;
  min-width: 126px;
  height: 32px;
}

.btn--simple {
  border: none;
  background-color: transparent;
}

.btn--simple:hover {
  color: var(--violet);
}

.btn--violet {
  background-color: var(--violet);
  color: #fff;
  text-transform: uppercase;
}

.btn--violet:hover {
  background-color: #860eb9;
}

.btn--violet:active {
  background-color: #ba3cf1;
}

.btn--lg {
  min-width: 162px;
  height: 50px;
  font-size: 17px;
}

.btn--outline {
  text-transform: uppercase;
  border: 2px solid var(--yellow);
}

.btn--outline:hover {
  border-color: var(--violet);
  background-color: var(--violet);
  color: #fff;
}

/*Header*/
.header {
  padding: 3.2rem 0;
}

.first-screen {
  padding: 8.4rem 0 5.8rem;
}

.first-screen__img {
  width: 45%;
}

.first-screen__descr {
  width: 45%;
  -webkit-transform: translateY(-0.5em);
          transform: translateY(-0.5em);
}

.first-screen__descr .h2 {
  line-height: 1.1;
}

.first-screen__descr .h2:first-child {
  -webkit-transform: translateX(-1.2916em);
          transform: translateX(-1.2916em);
}

.first-screen__descr .h4 {
  margin-top: 1.65em;
  line-height: 1.2;
}

.first-screen__descr .btn {
  margin-top: 2.3rem;
}

.need-block {
  padding: 10.5rem 0 0;
}

.need-block .h1 {
  line-height: 1.2;
  margin-bottom: 2.1406em;
}

.need-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.need-block__list li {
  padding-left: 3rem;
  margin-bottom: 15rem;
}

.need-block__list li:nth-child(odd) {
  width: 55%;
}

.need-block__list li:nth-child(even) {
  width: 40%;
}

.need-block__list__subtitle {
  font-size: 3.2rem;
  line-height: 1.1875;
  text-transform: uppercase;
}

.need-block__list__title {
  text-transform: uppercase;
  color: var(--violet);
  font-size: 4.5rem;
  line-height: 1.2;
  -webkit-transform: translateX(-0.822em);
          transform: translateX(-0.822em);
  position: relative;
  display: inline-block;
}

.need-block__list__descr {
  font-family: var(--second-font);
  font-size: 2.4rem;
  line-height: 125%;
  margin-top: 0.5em;
  font-weight: 400;
}

.need-block__list__descr--lt {
  font-size: 2rem;
}

.need-block__icon {
  position: absolute;
}

.need-block__icon.target {
  left: calc(100% + 8.3rem);
  top: -0.2em;
}

.need-block__icon.want {
  left: calc(100% + 3.8rem);
  bottom: 0.2em;
}

.need-block__icon.need {
  left: calc(100% + 5.6rem);
  top: -0.2em;
}

.need-block__icon.require {
  left: calc(100% + .7rem);
  bottom: 80%;
}

.problem-block__top {
  position: relative;
}

.problem-block__top .h1 {
  margin-bottom: 1em;
}

.problem-block__top [class^="decor_"] {
  position: absolute;
}

.problem-block__top .decor_left {
  left: 0;
  top: 50%;
  -webkit-transform: translate(-35%, -50%);
          transform: translate(-35%, -50%);
  width: 41.8rem;
}

.problem-block__top .decor_right {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32.2rem;
}

.problem-block__content__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.problem-block__content__descr p {
  max-width: 425px;
}

.problem-block__content__img {
  width: 45%;
  line-height: 0;
}

.problem-block__content__img img {
  height: 32rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  -webkit-transform: translateX(15rem);
          transform: translateX(15rem);
}

.info-block {
  padding: 3rem 0 1.5rem;
}

.info-block .h1 {
  font-size: 4rem;
  margin-bottom: 0.85em;
}

.info-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -4rem;
}

.info-block__list > li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 4rem;
  margin-bottom: 4rem;
}

.info-block__list__item > .h4 {
  line-height: 1.25;
  height: 2.5em;
  margin-bottom: 1.33em;
  position: relative;
}

.info-block__list__item > .h4::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--yellow);
  position: absolute;
  bottom: -.43em;
  left: 0;
}

.info-block__list__item__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__title {
  font-size: 3rem;
  line-height: 130%;
  margin-bottom: 0.266em;
}

.info-notice {
  text-align: right;
}

.solution-block {
  padding: 11.8rem 0;
}

.solution-block .h1 {
  margin-bottom: 1.2343em;
  line-height: 1.2;
}

.solution-block__content__descr {
  width: 52%;
  font-size: 4rem;
  text-align: right;
}

.solution-block__content__img {
  width: 48%;
  line-height: 0;
}

.solution-block__content__img img {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
}

.solution-block__features {
  padding-top: 10rem;
}

.solution-block__features__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.solution-block__features__item:first-child {
  width: 40%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding-right: 3em;
  margin-right: 3em;
  border-right: 5px solid #F1F2F2;
}

.solution-block__features__item p:not(:last-child) {
  margin-bottom: 1em;
}

.decor-arrow {
  margin-right: 9rem;
}

.how-works-block {
  padding: 7rem 0 14rem;
  position: relative;
}

.how-works-block::before {
  content: "";
  width: 100%;
  height: 56.6rem;
  background-color: var(--grey-bg);
  position: absolute;
  top: 0;
  left: 0;
}

.how-works-block .container {
  position: relative;
  z-index: 1;
}

.how-works-block .decor-left,
.how-works-block .decor-center,
.how-works-block .decor-right {
  position: absolute;
  z-index: -1;
}

.how-works-block .decor-left {
  top: -23rem;
  left: -12.5rem;
  width: 33.1rem;
}

.how-works-block .decor-center {
  top: -7rem;
  left: 50%;
  width: 20.1rem;
}

.how-works-block .decor-right {
  top: -12rem;
  left: 4rem;
  width: 33.1rem;
}

.how-works__title {
  line-height: 120%;
  margin-bottom: 0.75em;
}

.how-works__subtitle {
  max-width: 545px;
  margin: 0 auto 3.25em;
}

.how-works__list li {
  width: 33.333%;
  height: 37rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.how-works__list li::before {
  content: "";
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  background: #fff url("../img/works/arrow-right.svg") center no-repeat;
  -webkit-box-shadow: 0px 12px 44px rgba(84, 135, 135, 0.09);
          box-shadow: 0px 12px 44px rgba(84, 135, 135, 0.09);
  position: absolute;
  right: 0;
  bottom: 10rem;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 2;
}

.how-works__list li:last-child::before {
  display: none;
}

.how-works__list li:nth-child(1) {
  z-index: 2;
}

.how-works__list li:nth-child(2) {
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  z-index: 1;
}

.how-works__list li:nth-child(3) {
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
}

.how-works__list li p {
  max-width: 236px;
  font-family: var(--second-font);
  font-size: 1.8rem;
  line-height: 125%;
}

.how-works__list__item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 36px 68px rgba(84, 135, 135, 0.07);
          box-shadow: 0px 36px 68px rgba(84, 135, 135, 0.07);
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.how-works__list__item__title {
  margin-bottom: 1.3rem;
}

.how-works__list__item .btn {
  margin-top: 1.6rem;
}

.contact-block {
  padding: 4rem 0 0 0;
}

.contact-block__top {
  margin-bottom: 2.7rem;
  position: relative;
}

.contact-block__top .h2 {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.contact-block__top .h2:nth-child(2) {
  -webkit-transform: translateX(0.6em);
          transform: translateX(0.6em);
}

.contact-block__top .h2:nth-child(3) {
  -webkit-transform: translateX(1.8em);
          transform: translateX(1.8em);
}

.contact-block__top .decor_1 {
  position: absolute;
  top: 4em;
  left: -.7em;
  width: 16.8rem;
}

.contact-block__top .decor_2 {
  position: absolute;
  top: -3.2em;
  left: 13.6em;
  width: 17.7rem;
}

.contact-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-block__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 1.5em;
}

.contact-block__list li .icon {
  width: 3em;
  height: 3em;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 1em;
}

.contact-block__list li .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact-block__list li a:hover {
  color: var(--violet);
}

.contact-block__content__img {
  width: 46%;
  line-height: 0;
}

.contact-block__content__descr {
  width: 47%;
  padding-top: 6rem;
  font-size: 2rem;
}

.contact-block__content__descr p:not(:last-child) {
  margin-bottom: 2em;
}

.decor_3 {
  display: block;
  margin-left: 21rem;
  width: 19.9rem;
}

.join-block {
  background-color: var(--black-light);
  color: #fff;
  padding: 7.2rem 0;
  text-align: center;
}

.join-block .h2 {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  position: relative;
}

.join-block .h2::after {
  content: '';
  width: 70px;
  height: 1px;
  background-color: var(--yellow);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.join-block__subtitle {
  font-size: 2.1rem;
  font-family: var(--second-font);
  font-weight: 400;
  margin-bottom: 1em;
}

.join-form {
  width: 100%;
  max-width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.join-input {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50px;
  background-color: #17363A;
  color: #fff;
  font-family: var(--main-font);
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-left: 1em;
  font-size: 16px;
}

.join-input::-webkit-input-placeholder {
  color: #fff;
  font-family: var(--main-font);
  font-size: 14px;
}

.join-input:-ms-input-placeholder {
  color: #fff;
  font-family: var(--main-font);
  font-size: 14px;
}

.join-input::-ms-input-placeholder {
  color: #fff;
  font-family: var(--main-font);
  font-size: 14px;
}

.join-input::placeholder {
  color: #fff;
  font-family: var(--main-font);
  font-size: 14px;
}

.join-submit {
  border: none;
  height: 50px;
  font-size: 17px;
}

.page-top {
  background-color: var(--grey-bg);
  padding: 5rem 0;
}

.text-block {
  padding: 5rem 0 10rem;
}

.text-block h2 {
  font-size: 32px;
  margin-bottom: 0.5em;
}

.text-block h3 {
  font-size: 20px;
  margin-bottom: 0.5em;
}

.text-block p {
  font-size: 16px;
  margin-bottom: 1.25em;
}

.list {
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  list-style: disc;
  color: var(--black-light);
}

.list li {
  margin-bottom: 10px;
  list-style: disc;
}

.descr-block-column {
  margin: 40px 0;
}

.descr-block-column h3 {
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.descr-block-column h3::after {
  content: '';
  width: 40px;
  height: 2px;
  background-color: var(--yellow);
  position: absolute;
  left: 0;
  bottom: 0;
}

.descr-block-column {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.descr-block-column > li {
  -webkit-column-break-inside: avoid;
          break-inside: avoid-column;
  border: 1px solid #F1F2F2;
  padding: 24px;
  margin-bottom: 24px;
}

/*Footer*/
.footer {
  padding: 6.6rem 0 3rem;
  text-align: center;
}

.footer-menu {
  margin-bottom: 3rem;
}

.footer-menu li {
  margin-bottom: 1rem;
  padding: 0 1.2em;
}

.footer-menu li a:hover {
  color: var(--violet);
}

.social {
  margin-bottom: 2rem;
}

.social li {
  padding: 0 .75em;
  margin-bottom: 1rem;
}

.social li a {
  display: block;
  width: 32px;
  height: 32px;
}

.social li a:hover {
  opacity: 0.8;
}

.social li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1366px) {
  html {
    font-size: 0.7vw;
  }
}

@media (max-width: 1023px) {
  html {
    font-size: 0.8vw;
  }
  .how-works__list__item {
    padding: 0 25px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 6px;
  }
  .logo {
    width: 120px;
  }
  .header__right .btn {
    min-width: unset;
    padding: 0 15px;
  }
  .btn--lg {
    font-size: 14px;
    height: 40px;
    min-width: 140px;
  }
  .first-screen {
    padding: 4rem 0;
  }
  .first-screen .container {
    display: block;
  }
  .first-screen__img,
  .first-screen__descr,
  .problem-block__content__img,
  .problem-block__content__descr,
  .solution-block__content__img,
  .solution-block__content__descr,
  .solution-block__features__item:first-child,
  .how-works__list li,
  .contact-block__content__img,
  .contact-block__content__descr,
  .join-submit {
    width: 100%;
  }
  .first-screen__descr .h2 {
    line-height: 1.3;
  }
  .first-screen__descr .h2:first-child,
  .need-block__list__title,
  .problem-block__content__img img,
  .solution-block__content__img img {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .h1 {
    font-size: 34px;
  }
  .h2 {
    font-size: 26px;
  }
  .h3 {
    font-size: 20px;
  }
  .h4 {
    font-size: 18px;
  }
  .first-screen__descr .btn {
    margin-top: 20px;
    width: 100%;
  }
  .need-block {
    padding: 50px 0;
  }
  .need-block .h1 {
    margin-bottom: 30px;
  }
  .need-block__list li {
    width: 100% !important;
    padding-left: 0;
    margin-bottom: 40px;
  }
  .need-block__icon.target,
  .need-block__icon.want,
  .need-block__icon.need {
    left: calc(100% + 4.3rem);
    top: 0.1em;
    width: 10rem;
    max-height: 30px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .need-block__icon.require {
    left: calc(100% + 0.7rem);
    bottom: 80%;
    height: 30px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .need-block__list__descr {
    font-size: 18px;
  }
  .need-block__list__descr--lt,
  .how-works__list li p,
  .contact-block__content__descr {
    font-size: 16px;
  }
  .problem-block___content,
  .solution-block__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .problem-block__top .decor_right,
  .decor-arrow,
  .how-works-block .decor-right,
  .how-works-block .decor-center,
  .how-works-block .decor-left {
    display: none;
  }
  .problem-block__content__img {
    margin-bottom: 30px;
  }
  body,
  .need-block__list__descr {
    line-height: 1.5;
  }
  .problem-block {
    padding-bottom: 40px;
  }
  .info-block__list,
  .solution-block__features,
  .how-works__list,
  .contact-block__list,
  .contact-block__content,
  .join-form {
    display: block;
  }
  .info-block .h1 {
    font-size: 24px;
  }
  .info-block__list__item > .h4 {
    height: auto;
  }
  .info-block__list__item > .h4::after {
    height: 2px;
    bottom: -.6em;
  }
  .info-block__list > li {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .fz-14,
  .join-submit,
  .list {
    font-size: 14px;
  }
  .solution-block,
  .how-works-block {
    padding: 40px 0;
  }
  .solution-block__content__descr {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
  }
  .solution-block__features {
    padding-top: 40px;
  }
  .solution-block__features__item:first-child {
    padding-right: 0;
    margin-right: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-right: none;
    border-bottom: 2px solid #f1f2f2;
  }
  .how-works__list__item {
    -webkit-box-shadow: 0px 6px 28px rgba(84, 135, 135, 0.2);
            box-shadow: 0px 6px 28px rgba(84, 135, 135, 0.2);
  }
  .how-works__list li:not(:last-child) {
    margin-bottom: 6.2rem;
  }
  .how-works__list li::before {
    bottom: 0;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 100%) rotate(90deg);
            transform: translate(-50%, 100%) rotate(90deg);
  }
  .how-works__list li:nth-child(2),
  .how-works__list li:nth-child(3) {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .how-works__list__item .btn {
    margin-top: 20px;
  }
  .contact-block__top .decor_1 {
    top: 5.3em;
    left: -0.8em;
  }
  .contact-block__list li {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .contact-block__content__descr {
    padding-bottom: 40px;
  }
  .join-form {
    display: block;
  }
  .join-input {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-menu li {
    padding: 0 7px;
  }
  .text-block h2 {
    font-size: 24px;
  }
  .text-block h3 {
    font-size: 20px;
  }
  .descr-block-column {
    -webkit-column-count: unset;
            column-count: unset;
    margin: 20px 0;
  }
  .descr-block-column > li {
    padding: 10px;
    margin-bottom: 10px;
  }
  .descr-block-column > li p:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 360px) {
  .logo {
    width: 70px;
  }
  .header__right .btn {
    padding: 0 10px;
    font-size: 12px;
  }
}
