.contact-block {
    padding: 4rem 0 0 0;
    &__top {
        margin-bottom: 2.7rem;
        position: relative;
        .h2 {
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            &:nth-child(2) {
                transform: translateX(.6em);
            }
            &:nth-child(3) {
                transform: translateX(1.8em);
            }
        }

        .decor_1 {
            position: absolute;
            top: 4em;
            left: -.7em;
            width: 16.8rem;
        }
        .decor_2 {
            position: absolute;
            top: -3.2em;
            left: 13.6em;
            width: 17.7rem;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        li {
            display: flex;
            align-items: center;
            font-size: 2.4rem;
            line-height: 1.2;
            margin-bottom: 1.5em;
            .icon {
                width: 3em;
                height: 3em;
                flex: none;
                margin-right: 1em;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            a{
                &:hover {
                    color: var(--violet)
                }
            }
        }
    }

    &__content {
        &__img {
            width: 46%;
            line-height: 0;
        }
        &__descr {
            width: 47%;
            padding-top: 6rem;
            font-size: 2rem;
            p{
                &:not(:last-child) {
                    margin-bottom: 2em;
                }
            }
        }
    }
}
.decor_3 {
    display: block;
    margin-left: 21rem;
    width: 19.9rem;
}