.first-screen {
    padding: 8.4rem 0 5.8rem;
    &__img {
        width: 45%;
    }
    &__descr {
        width: 45%;
        transform: translateY(-.5em);
        .h2 {
            line-height: 1.1;
            &:first-child {
                transform: translateX(-1.2916em);
            }
        }
        .h4 {
            margin-top: 1.65em;
            line-height: 1.2;
        }
        .btn {
            margin-top: 2.3rem;
        }
    }
}