@font-face {
	font-family: "Lato";
	src: url("../font/Lato/Lato-Black.woff") format("woff");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}
@font-face {
	font-family: "Lato";
	src: url("../font/Lato/Lato-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Lato";
	src: url("../font/Lato/Lato-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: "Lato";
	src: url("../font/Lato/Lato-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Lato";
	src: url("../font/Lato/Lato-Light.woff") format("woff");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Zilla_Slab";
	src: url("../font/Zilla_Slab/ZillaSlab-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Zilla_Slab";
	src: url("../font/Zilla_Slab/ZillaSlab-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: "Zilla_Slab";
	src: url("../font/Zilla_Slab/ZillaSlab-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

