/*Footer*/ 
.footer{
	padding: 6.6rem 0 3rem;
    text-align: center;
    &-menu {
        margin-bottom: 3rem;
        li {
            margin-bottom: 1rem;
            padding: 0 1.2em;
            a {
                &:hover {
                    color: var(--violet);
                }
            }
        }
    }
}

.social {
    margin-bottom: 2rem;
    li {
        padding: 0 .75em;
        margin-bottom: 1rem;
        a {
            display: block;
            width: 32px;
            height: 32px;
            &:hover {
                opacity: 0.8;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}