.how-works {
  &-block {
    padding: 7rem 0 14rem;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 56.6rem;
      background-color: var(--grey-bg);
      position: absolute;
      top: 0;
      left: 0;
    }
    .container {
      position: relative;
      z-index: 1;
    }
    .decor-left,
    .decor-center,
    .decor-right {
      position: absolute;
      z-index: -1;
    }
    .decor-left {
      top: -23rem;
      left: -12.5rem;
      width: 33.1rem;
    }
    .decor-center {
      top: -7rem;
      left: 50%;
      width: 20.1rem;
    }
    .decor-right {
      top: -12rem;
      left: 4rem;
      width: 33.1rem;
    }
  }
  &__title {
    line-height: 120%;
    margin-bottom: 0.75em;
  }
  &__subtitle {
    max-width: 545px;
    margin: 0 auto 3.25em;
  }

  &__list {
    li {
      width: 33.333%;
      height: 37rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &::before {
        content: "";
        width: 6.2rem;
        height: 6.2rem;
        border-radius: 50%;
        background: #fff url("../img/works/arrow-right.svg") center no-repeat;
        box-shadow: 0px 12px 44px rgba(84, 135, 135, 0.09);
        position: absolute;
        right: 0;
        bottom: 10rem;
        transform: translateX(50%);
        z-index: 2;
      }
      &:last-child {
        &::before {
          display: none;
        }
      }
      &:nth-child(1) {
        z-index: 2;
      }
      &:nth-child(2) {
        transform: translateY(5rem);
        z-index: 1;
      }
      &:nth-child(3) {
        transform: translateY(10rem);
      }
      p {
        max-width: 236px;
        font-family: var(--second-font);
        font-size: 1.8rem;
        line-height: 125%;
      }
    }
    &__item {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 36px 68px rgba(84, 135, 135, 0.07);
      background-color: #fff;
      position: relative;
      z-index: 1;
      &__title {
        margin-bottom: 1.3rem;
      }
      .btn {
        margin-top: 1.6rem;
      }
    }
  }
}
