.info-block {
    padding: 3rem 0 1.5rem;
    .h1 {
        font-size: 4rem;
        margin-bottom: 0.85em;
    }

    &__list {
        display: flex;
        margin: 0 -4rem;
        & > li {
            flex-grow: 1;
            padding: 0 4rem;
            margin-bottom: 4rem;
        }

        &__item {
            & > .h4 {
                line-height: 1.25;
                height: 2.5em;
                margin-bottom: 1.33em;
                position: relative;
                &::after {
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: var(--yellow);
                    position: absolute;
                    bottom: -.43em;
                    left: 0;
                }
            }

            &__features {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
.features__title {
    font-size: 3rem;
    line-height: 130%;
    margin-bottom: 0.266em;
}
.info-notice {
    text-align: right;
}