.page-top {
    background-color: var(--grey-bg);
    padding: 5rem 0;
}
.text-block {
    padding: 5rem 0 10rem;
    h2 {
        font-size: 32px;
        margin-bottom: 0.5em;
    }
    h3 {
        font-size: 20px;
        margin-bottom: 0.5em;
    }
    p{
        font-size: 16px;
        margin-bottom: 1.25em;
    }
}
.list {
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    list-style: disc;
    color: var(--black-light);
    li{
        margin-bottom: 10px;
        list-style: disc;
    }
}
.descr-block-column {
    margin: 40px 0;
    h3 {
        position: relative;
        margin-bottom: 25px;
        padding-bottom: 25px;
        &::after {
            content: '';
            width: 40px;
            height: 2px;
            background-color: var(--yellow);
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}
.descr-block-column {
    column-count: 2;
    column-gap: 24px;
    & > li {
        break-inside: avoid-column;
        border: 1px solid #F1F2F2;
        padding: 24px;
        margin-bottom: 24px;
    }
}