.join-block {
    background-color: var(--black-light);
    color: #fff;
    padding: 7.2rem 0;
    text-align: center;
    .h2 {
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        position: relative;
        &::after {
            content: '';
            width: 70px;
            height: 1px;
            background-color: var(--yellow);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        font-size: 2.1rem;
        font-family: var(--second-font);
        font-weight: 400;
        margin-bottom: 1em;
    }
}
.join-form {
    width: 100%;
    max-width: 460px;
    display: flex;
    margin: 0 auto;
}
.join-input {
    display: block;
    flex-grow: 1;
    height: 50px;
    background-color: #17363A;
    color: #fff;
    font-family: var(--main-font);
    border: none;
    outline: none;
    appearance: none;
    padding-left: 1em;
    font-size: 16px;
    &::placeholder {
        color: #fff;
        font-family: var(--main-font);
        font-size: 14px;
    }
}
.join-submit {
    border: none;
    height: 50px;
    font-size: 17px;
}