:root{
	--main-font: "Lato", sans-serif;
	--second-font: "Zilla_Slab", sans-serif;
	--violet: #A811E9;
	--yellow: #FEE035;
	--grey-bg: #F6F7F7;
	--black-light: #012429;
	--birusa: #11CFE9;
}
html, body{
	min-height: 100%;
}
html{
	font-size: 10px;
}
body{
	background-color: #fff;
	color: #000;
	font-family: var(--main-font);
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.2;
}
img{
	max-width: 100%;
}
a{
	color: currentColor;
	transition: all .2s;
}
h1, .h1{
	font-size: 6.4rem;
}
h2, .h2{
	font-size: 4.8rem;
}
h3, .h3{
	font-size: 2.4rem;
}
h4, .h4{
	font-size: 2rem;
}
.font-300{
	font-weight: 300;
}
.font-500{
	font-weight: 500;
}
.font-700,
b, strong{
	font-weight: 700;
}
.font-900{
	font-weight: 900;
}
.text-center{
	text-align: center;
}
.text-uppercase{
	text-transform: uppercase;
}
.wrapper{
	height: 100%;
	overflow-x: hidden;
}
.container{
	width: 100%;
	max-width: 1190px;
	padding: 0 15px;
	margin: 0 auto;
}
.main{
	flex: 1 0 auto;
}
.footer{
	flex: 0 0 auto;
}
.flex{
	display: flex;
}
.flex-wrap{
	flex-wrap: wrap;
}
.align-center{
	align-items: center;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
.violet {
	color: var(--violet)
}
.yellow {
	color: var(--yellow)
}
.grey-bg {
	background-color: var(--grey-bg);
}
.black-light {
	color: var(--black-light)
}
.birusa {
	color: var(--birusa)
}
.second-font {
	font-family: var(--second-font);
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: var(--main-font);
	font-size: 12px;
	line-height: 1;
	min-width: 126px;
	height: 32px;
	&--simple {
		border: none;
		background-color: transparent;
		&:hover {
			color: var(--violet)
		}
	}
	&--violet {
		background-color: var(--violet);
		color: #fff;
		text-transform: uppercase;
		&:hover {
			background-color: darken(#A811E9, 10%);
		}
		&:active {
			background-color: lighten(#A811E9, 10%);
		}
	}
	&--lg {
		min-width: 162px;
		height: 50px;
		font-size: 17px;
	}
	&--outline {
		text-transform: uppercase;
		border: 2px solid var(--yellow);
		&:hover {
			border-color: var(--violet);
			background-color: var(--violet);
			color: #fff;
		}
	}
}


