@media (max-width: 1366px) {
  html {
    font-size: 0.7vw;
  }
}
@media (max-width: 1023px) {
  html {
    font-size: 0.8vw;
  }
  .how-works__list__item {
    padding: 0 25px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 6px;
  }
  .logo {
    width: 120px;
  }
  .header__right {
    .btn {
      min-width: unset;
      padding: 0 15px;
    }
  }
  .btn--lg {
    font-size: 14px;
    height: 40px;
    min-width: 140px;
  }
  .first-screen {
    padding: 4rem 0;
    .container {
      display: block;
    }
  }
  .first-screen__img,
  .first-screen__descr,
  .problem-block__content__img,
  .problem-block__content__descr,
  .solution-block__content__img,
  .solution-block__content__descr,
  .solution-block__features__item:first-child,
  .how-works__list li,
  .contact-block__content__img,
  .contact-block__content__descr,
  .join-submit {
    width: 100%;
  }
  .first-screen__descr .h2 {
    line-height: 1.3;
  }
  .first-screen__descr .h2:first-child,
  .need-block__list__title,
  .problem-block__content__img img,
  .solution-block__content__img img {
    transform: translateX(0);
  }
  .h1 {
    font-size: 34px;
  }
  .h2 {
    font-size: 26px;
  }
  .h3 {
    font-size: 20px;
  }
  .h4 {
    font-size: 18px;
  }
  .first-screen__descr .btn {
    margin-top: 20px;
    width: 100%;
  }
  .need-block {
    padding: 50px 0;
    .h1 {
      margin-bottom: 30px;
    }
  }
  .need-block__list li {
    width: 100% !important;
    padding-left: 0;
    margin-bottom: 40px;
  }
  .need-block__icon.target,
  .need-block__icon.want,
  .need-block__icon.need {
    left: calc(100% + 4.3rem);
    top: 0.1em;
    width: 10rem;
    max-height: 30px;
    object-fit: contain;
  }
  .need-block__icon.require {
    left: calc(100% + 0.7rem);
    bottom: 80%;
    height: 30px;
    object-fit: contain;
  }
  .need-block__list__descr {
      font-size: 18px;
  }
  .need-block__list__descr--lt,
  .how-works__list li p,
  .contact-block__content__descr {
      font-size: 16px;
  }
  .problem-block___content,
  .solution-block__content {
    flex-direction: column-reverse;
  }
  .problem-block__top .decor_right,
  .decor-arrow,
  .how-works-block .decor-right,
  .how-works-block .decor-center,
  .how-works-block .decor-left {
      display: none;
  }
  .problem-block__content__img {
      margin-bottom: 30px;
  }
  body,
  .need-block__list__descr {
      line-height: 1.5;
  }
  .problem-block {
      padding-bottom: 40px;
  }
  .info-block__list,
  .solution-block__features,
  .how-works__list,
  .contact-block__list,
  .contact-block__content,
  .join-form {
      display: block;
  }
  .info-block .h1 {
      font-size: 24px;
  }
  .info-block__list__item > .h4 {
      height: auto;
  }
  .info-block__list__item > .h4::after {
      height: 2px;
      bottom: -.6em;
  }
  .info-block__list > li {
      margin-bottom: 15px;
      padding-bottom: 15px;
  }
  .fz-14,
  .join-submit,
  .list {
      font-size: 14px;
  }
  .solution-block,
  .how-works-block {
      padding: 40px 0;
  }
  .solution-block__content__descr {
      text-align: center;
      margin-top: 30px;
      font-size: 20px;
  }
  .solution-block__features {
      padding-top: 40px;
  }
  .solution-block__features__item:first-child {
      padding-right: 0;
      margin-right: 0;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-right: none;
      border-bottom: 2px solid #f1f2f2;
  }
  .how-works__list__item {
      box-shadow: 0px 6px 28px rgba(84, 135, 135, .2);
  }
  .how-works__list li {
      &:not(:last-child) {
          margin-bottom: 6.2rem;
      }
  }
  .how-works__list li::before {
      bottom: 0;
      right: auto;
      left: 50%;
      transform: translate(-50%, 100%) rotate(90deg);
  }
  .how-works__list li:nth-child(2),
  .how-works__list li:nth-child(3) {
      transform: translateY(0);
  }
  .how-works__list__item .btn {
      margin-top: 20px;
  }
  .contact-block__top .decor_1 {
    top: 5.3em;
    left: -0.8em;
  }
  .contact-block__list li {
      font-size: 18px;
      margin-bottom: 15px;
  }
  .contact-block__content__descr {
      padding-bottom: 40px;
  }
  .join-form {
      display: block;
  }
  .join-input {
      width: 100%;
      margin-bottom: 10px;
  }
  .footer-menu {
      flex-wrap: wrap;
      li {
          padding: 0 7px;
      }
  }
  .text-block {
      h2 {
          font-size: 24px;
      }
      h3 {
          font-size: 20px;
      }
  }
  .descr-block-column {
      column-count: unset;
      margin: 20px 0;
      & > li {
          padding: 10px;
          margin-bottom: 10px;
          p {
              &:last-child{
                  margin-bottom: 0;
              }
          }
      }
  }
}
// 767
@media (max-width: 360px) {
  .logo {
    width: 70px;
  }
  .header__right {
    .btn {
      padding: 0 10px;
      font-size: 12px;
    }
  }
}
