.need-block {
    padding: 10.5rem 0 0;
    .h1 {
        line-height: 1.2;
        margin-bottom: 2.1406em;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            padding-left: 3rem;
            margin-bottom: 15rem;
            &:nth-child(odd) {
                width: 55%;
            }
            &:nth-child(even) {
                width: 40%;
            }
        }
        &__subtitle {
            font-size: 3.2rem;
            line-height: 1.1875;
            text-transform: uppercase;
        }
        &__title {
            text-transform: uppercase;
            color: var(--violet);
            font-size: 4.5rem;
            line-height: 1.2;
            transform: translateX(-.822em);
            position: relative;
            display: inline-block;
        }
        &__descr {
            font-family: var(--second-font);
            font-size: 2.4rem;
            line-height: 125%;
            margin-top: 0.5em;
            font-weight: 400;
            &--lt {
                font-size: 2rem;
            }
        }
    }
    &__icon {
        position: absolute;
        &.target {
            left: calc(100% + 8.3rem);
            top: -0.2em;
        }
        &.want {
            left: calc(100% + 3.8rem);
            bottom: 0.2em;
        }
        &.need {
            left: calc(100% + 5.6rem);
            top: -0.2em;
        }
        &.require {
            left: calc(100% + .7rem);
            bottom: 80%;
        }
    }
}