.problem-block {
  &__top {
    position: relative;
    .h1 {
      margin-bottom: 1em;
    }
    [class^="decor_"] {
      position: absolute;
    }
    .decor_left {
      left: 0;
      top: 50%;
      transform: translate(-35%, -50%);
      width: 41.8rem;
    }
    .decor_right {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 32.2rem;
    }
  }

  &__content {
    &__descr {
      display: flex;
      align-items: center;
      width: 45%;
      p {
          max-width: 425px;
      }
    }

    &__img {
      width: 45%;
      line-height: 0;
      img {
        height: 32rem;
        object-fit: contain;
        object-position: bottom;
        transform: translateX(15rem);
      }
    }
  }
}
