.solution-block {
    padding: 11.8rem 0;
    .h1 {
        margin-bottom: 1.2343em;
        line-height: 1.2;
    }

    &__content {
        &__descr {
            width: 52%;
            font-size: 4rem;
            text-align: right;
        }

        &__img {
            width: 48%;
            line-height: 0;
            img {
                transform: translateX(2rem);
            }
        }
    }

    &__features {
        padding-top: 10rem;
        &__item {
            flex-grow: 1;
            &:first-child {
                width: 40%;
                flex: none;
                padding-right: 3em;
                margin-right: 3em;
                border-right: 5px solid #F1F2F2;
            }

            p {
                &:not(:last-child) {
                    margin-bottom: 1em;
                }
            }
        }
    }
}
.decor-arrow {
    margin-right: 9rem;
}